@import "../../static/sass/mixin"
.loginWrapper
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  width: 500px
  height: 300px
  background: #f60
  border: 1px solid #ccc
  .loginName,.loginName,.loginBtn
    box-sizing: border-box
    width: 240px
    margin: 20px auto
    text-align: center
    .loginInput
      border: 1px solid rgba(7,17,27,0)
      border-radius: 3px
      outline: none
      height: 38px
      line-height: 38px
      font-size: 16px
      &:hover
        border: 1px solid #ff0000
    input[type='button']
      @include loginBtn
  .errorInfo
    width: 240px
    margin: auto
    color: #ff0000