.leftside-wrapper
  width: 120px
  height: 800px
  background: #cc59ff
  .menu
    .menuName
      height: 40px
      width: 120px
      display: table-cell
      vertical-align: middle
      text-align: center
      background: green
      font-size: 14px
      cursor: pointer
    .submenu>li
      height: 30px
      line-height: 30px
      background: #000000
      color: #ffffff
      text-align: center
      cursor: pointer
      &:hover
        background: #232323

